{
  "CertbotFunction": {
    "CERT_BUCKET": "infra.tailyew.com",
    "DOMAIN_NAME": "tailyew.com",
    "EMAIL": "example@tailyew.com",
    "ACM_REGION": "us-east-1",
    "IS_PRODUCTION": false
  }
}

